.app {
  max-width: 60rem;
}

.content {
  display: flex;
}

.detail {
  flex: 1 1 70%; /*flex grow : flex shrink : flex basis*/
}

.list {
  flex: 1 1 30%; /*flex grow : flex shrink : flex basis*/
}

@media screen and (max-width: 700px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
