.app {
  max-width: 60rem;
}

.content {
  display: flex;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 700px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  /* .list {
    display: grid;
    width: 100%;
  } */
}
